<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg">
		<li th:each="menuGroup : ${menuGroupList}" class="nav-item dropdown"><a
			class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
			role="button" data-bs-toggle="dropdown" aria-expanded="false"> <span
				th:text="${menuGroup.groupName}"></span>
		</a>
		     
		     
			<ul  th:each="menuItem : ${menuitemList}"  class="dropdown-menu" aria-labelledby="navbarDropdown">


				<li><a class="dropdown-item" th:href="@{${menuItem.link}}"><span th:text="${menuItem.menuName}" />  </a></li>
				
			</ul>
			
			</li>

	</nav>


</body>
</html>