<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg">
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> <span th:text="${group1.groupName}"></span>
		</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			
			
				<li><a class="dropdown-item" href="/spomandate/viewmandate">view Mandate</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
			</li>

		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> <span th:text="${group1.groupName}"></span>
		</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			
			
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
			</li>
	</nav>


</body>
</html>