<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout-flux">
<head>
<meta charset="UTF-8">
<script type="text/javascript" th:src="@{/js/viewmandate.js}"></script>
<title>view Mandate</title>
</head>
<body>
	<div layout:fragment="page-content-fragment">
	
        <input type="hidden" name ="publicurl" id="publicurl" th:value="${publicapiurl}">	
 
		<form id="nameDetailsForm" name="nameDetailsForm">
			<label for="umrn">UMRN:</label><br> <input type="text" id="umrn"
				name="umrn" /><br> <label for="payername">PayerName:</label><br>
			<input type="text" id="payername" name="payername" />
		</form>
	</div>



</body>
</html>